@import "../../../styles/baseline/_styles";

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;

  &:hover {
    .img {
      opacity: 1;
    }
  }
}

.album-name {
  margin-bottom: 24px;
  font-weight: $semibold;
  color: var(--color-white);
}

.published-date {
  margin-bottom: 24px;
}

.img {
  width: 100%;
  height: 241px;
  position: relative;
  opacity: 0.8;
  border-radius: 12px;
  overflow: hidden;
  transition: $global-transition;
  margin-bottom: 24px;
}

.btn-container {
  margin-top: auto;
}