@import '~sanitize.css';
@import '~sanitize.css/assets.css';
@import '~sanitize.css/forms.css';
@import '~sanitize.css/reduce-motion.css';
@import '~sanitize.css/typography.css';
@import "./theme";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', 'Open Sans', Calibri, Tahoma, Sans-Serif;
  background-color: var(--color-black-medium);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-bottom: initial;
}

p {
  margin: initial;
}

button {
  border: initial;
  outline: initial;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  height: 300px;
  display:flex;
  align-items: center;
  justify-content:center;
  transition:all 200ms linear;
  transform: scale(0.8);

  &.swiper-slide-active{
    transform: scale(1);
    z-index: 2;
  }
}

// Pagination
.ant-pagination {
  .ant-pagination-item {
    a {
      color: var(--color-white);
      font-weight: 400 !important;
    }

    &.ant-pagination-item-active {
      background: initial !important;
      border: initial !important;

      a {
        color: var(--color-primary);
      }
    }
  }

  .ant-pagination-next,
  .ant-pagination-prev {
    .ant-pagination-item-link {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        fill: var(--color-white);
      }
    }
  }

  .ant-pagination-jump-next,
  .ant-pagination-jump-prev {
    .ant-pagination-item-link-icon,
    .ant-pagination-item-ellipsis {
      color: var(--color-white);
    }

    .ant-pagination-item-link-icon {
      svg {
        margin-bottom: 8px;
      }
    }
  }
}